    * {
        box-sizing: border-box;
    }

    /* ========================================== HEADER START  */

    ;
    .nav__logo {
        margin-top: 10px;
    }

    header {
        background: url(./images/nike_bg_02.jpg);
        padding-bottom: 149px;
        background-size: 100%;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    }

    .navbar__nav{
        padding-left: 0;
    }

    .nav__item {
        line-height: 45px;
        text-align: center;
        padding: 0 24px;
        transition: .5s;
        list-style: none;
        height: 57px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        color: #4d4d4d;
        text-decoration: none;
        font-family: "Arial";
        font-size: 18px;
        font-weight: bold;
        
    }

    .navbar__toggler{
        padding-left: 0;
    }

    .nav__item:hover {
        background: #c1bc45;
    }

    .nav__item:hover .nav__link {
        color: #f0efdf !important;
        transition: .5s;
    }

    .header__title {
        font-size: 75px;
        line-height: 55px;
        color: #c1bc45;
        font-weight: bold;
        font-family: "Arial";
        text-align: center;
        margin-top: 132px;
        margin-bottom: 16px;
    }

    .header__text {
        font-size: 18px;
        line-height: 15px;
        color: #4d4d4d;
        font-family: "Arial";
    }

    .header__text__span {
        font-weight: 700;
    }

    /* ========================================== AFTERHEAD START */

    .afterhead {
        padding: 88px 0 134px;
    }

    .afterhead__left__img {
        width: 100%;
    }

    .afterhead__left__title {
        font-size: 20px;
        line-height: 18px;
        color: #000000;
        font-weight: bold;
        font-family: "Arial";
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .afterhead__left__text {
        font-size: 15px;
        line-height: 25px;
        color: #333333;
        font-family: "Arial";
        margin-bottom: 0;
    }

    .afterhead__right__box {
        border: 4px solid #aeaeae;
        padding-left: 23px;
        padding-bottom: 14px;
        padding-top: 13px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

    .afterhead__right__box:hover {
        border: 4px solid #f0efb6;
    }

    .afterhead__right__title {
        font-size: 20px;
        line-height: 15px;
        color: #000000;
        font-weight: bold;
        font-family: "Arial";
    }

    .afterhead__right__text {
        font-size: 16px;
        line-height: 24px;
        color: #919191;
        font-family: "Arial";
        margin-bottom: 0;
    }

    /* ========================================== FOOTER START */

    footer {
        padding: 110px 0;
        background: #eee9e9;
    }

    .footer__nav{
        display: flex;
    }

    .footer__item {
        line-height: 45px;
        text-align: center;
        padding: 0 24px;
        transition: .5s;
        list-style: none;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .footer__link {
        color: #4d4d4d;
        text-decoration: none;
        font-family: "Arial";
        font-size: 18px;
        font-weight: bold;
    }

    .footer__item::after{
        content: "";
        display: none;
        height: 4px;
        background: #bc3333;
    }

    .footer__item:hover::after {
        display: block;
    }

    .footer__item:hover .footer__link {
        color: #bc3333 !important;
    }

    /* ====================================================== MEDIA START */

    @media(max-width: 1199px) {
        .header__title {
            margin-top: 45px;
        }

        .header__text {
            font-size: 16px;
        }

        .nav__item {
            padding: 0 20px;
        }

        .footer__nav__item{
            padding: 0 20px;
        }

        .nav__logo{
            margin: auto;
        }

        .nav__log__img{
            display: block;
            margin: auto;
        }

        .afterhead {
            padding: 50px 0 88px;
        }

        footer {
            padding: 60px 0;
        }

    }

    @media(max-width: 991px){
        .nav__link {
            font-size: 14px;
        }

        header {
            padding-bottom: 80px;
        }

        .afterhead {
            padding: 50px 0 60px;
        }

        .header__text {
            font-size: 15px;
        }
        
        .afterhead__right__box{
            display: flex;
            justify-content: space-evenly;
        }

        .footer__item {
            padding: 0px 20px;
        }

        .footer__link {
            font-size: 14px;
        }
    }

    @media(max-width: 767px){
        header {
            padding-bottom: 50px;
        }

        .nav__item {
            padding: 0px 13px;
            height: 40px;
        }

        .nav__link {
            font-size: 11px;
        }

        .header__title {
            margin-top: 15px;
        }

        .afterhead__right__title {
            font-size: 16px;
        }

        .afterhead__right__text {
            font-size: 12px;
        }

        .footer__item {
            padding: 0px 13px;
        }

        .footer__link {
            font-size: 11px;
        }

        footer {
            padding: 20px 0;
        }
    }

    @media(max-width: 575px){
        header {
            background: #eee9e9;
            padding-bottom: 0;
        }

        .header__title{
            text-align: center;
        }

        .nav__log__img{
            width: 80px;
        }

        .afterhead__right__box{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .afterhead__right__img{
            display: block;
            margin: auto;
        }

        .afterhead__right__title {
            font-size: 14px;
            text-align: center;
        }
        
        .afterhead__right__text {
            font-size: 13px;
            text-align: center;
        }

        .afterhead__left__text {
            font-size: 11px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        .afterhead__left__title {
            text-align: center;
        }

        .afterhead__left__text {
            text-align: center;
        }

        .footer__nav{
            display: flex;
            flex-direction: column;
        }

        .footer__navbar__nav {
            display: block;
            margin: auto;
        }

        .for__navbar__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__nav {
            padding-left: 0;
        }

    }